@import "../../scss/variables";

.Input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 10px;
}

.Input__label-text {
  margin-bottom: 5px;
}

.Input__description {
  margin-bottom: 5px;
  font-size: 14px;
  color: $gray;
}

.Input__input {
  width: 100%;
  padding: 10px;

  font-size: inherit;
  border: 3px solid $gray;
  border-radius: 5px;
  color: $dark-gray;

  &:disabled {
    background-color: $light-gray;
  }

  &::placeholder {
    font-weight: normal;
    color: $gray;
  }
}
